<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Phase1 Suite">

    <test name="Login And Logout">
        <classes>
            <class name="testcases.LoginTests">
                    <methods>
                        <include name="loginIntoApplication"></include>
<!--                        <include name="Scrolling"></include>-->
<!--                        <include name="ListBoxDemo"></include>-->
                    </methods>
            </class>
            <class name="testcases.TrainingSession">
                <methods>
                    <include name="AlertWindow"></include>
<!--                    <include name="Slider"></include>-->
<!--                    <include name="JavaScriptAlert"></include>-->
<!--                    <include name="InputForm"></include>-->
                </methods>
            </class>

        </classes>
    </test>
</suite>
